.header .loginBar {
    display: flex;
    justify-content: right;
    margin-top: 2%;
    margin-right: 5%;
}

.header .loginBar div {
    text-align: center;
    border: 1px solid rgb(82, 82, 82);
    margin-left: 30px;
    justify-content: center;
    align-items: center;
    height: fit-content;
    border-radius: 3px;
}

.submit {
    margin-left: 30px;
}

.loginBar div input {
    border: none;
    margin-left: 10px;
    border-left: 1px solid black;
    padding-top: 1px;
    height: fit-content;
    background: none;
}

.searchButton {
    margin-left: 30px;
}

.navBar {
    padding-left: 50px;
    margin-top: 20px;
    padding-top: 20px;
    background-color: #265b8c;
    padding-bottom: 20px;
    color: white;
    text-decoration: none;
}
* {
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-size: 105%;
}

.main div {
    width: 100%;
}

.main>div>p:first-of-type {
    background-color: #265B8C;
    width: 100%;
    padding: 1%;
}

.main div p:first-of-type a {
    color: white;
}

.genAnnounce>* {
    margin: 10px 0;
}

.genAnnounce h4 {
    color: #575757;
}

.tabbed {
    margin-left: 30px;
}

.tabbed span {
    font-weight: bold;
    text-decoration: underline;
}

.onlinePay {
    font-size: 120%;
    text-align: center;
    width: 100%;
}