* {
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

.main div {
    width: 100%;
}

.main div a:first-child {
    background-color: #265B8C;
    color: white;
    padding: 1%;
}

.genAnnounce h4 {
    color: #575757;
}